<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS Styles -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Favicon and Touch Icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
</head>

<body>

  <nav class="navbar navbar-default">
    <!--Navigation Bar -->
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-earphone">&nbsp;</span>{{title}}</a>
      </div>
    </div>
  </nav>
  <!-- END - Navigation Bar -->

  <div class="container-fluid"><!-- GRID SYSTEM -->

    <div class="row">
      <!-- ROW - EDIT FORM -->
      <div class="col-md-12 col-md-offset-2">
        <form class="form-horizontal" method="post" action="/extensions/update" id="extensions-edit">
          <input type="hidden" name="id" value="{{Results._id}}">
          <div class="form-group">
            <label class="col-md-2 control-label" for="extension">Extension</label>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Extension" name="extension" value="{{Results.extension}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for "user_id">User ID</label>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="User ID" name="user_id" value="{{Results.user_id}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="whole_name">Name or Description</label>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Name or Description" name="whole_name" value="{{Results.whole_name}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="email">Email</label>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="email@email.com" name="email" value="{{Results.email}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="place">Location</label>
            <input class="place" type="hidden" value="{{Results.place}}">
            <div class="col-md-2">
              <select name="place" form="extensions-edit" class="form-control">
                <option value="USNS41">USNS41</option>
                <option value="USBP02">USBP02</option>
                <option value="BRCM01">BRCM01</option>
                <option value="CACM01-PUB">CACM01-PUB</option>
                <option value="CONS01">CONS01</option>
                <option value="CRNS01">CRNS01</option>
                <option value="MXCM01">MXCM01</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="phone_number_jabber">Phone Number - Jabber</label>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="+[DID] or **[site code][extension]" name="phone_number_jabber" value="{{Results.phone_number_jabber}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="did">DID</label>
            <input class="default_group" type="hidden" value="{{Results.did}}">
            <div class="col-md-2">
              <select name="did" form="extensions-edit" class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="status">Status</label>
            <input class="status" type="hidden" value="{{Results.status}}">
            <div class="col-md-2">
              <select name="status" form="extensions-edit" class="form-control">
                <option value="OPEN">OPEN</option>
                <option value="ASSIGNED">ASSIGNED</option>
                <option value="RESERVED">RESERVED</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="out_date">Out Date</label>
            <div class="col-md-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Out Date" name="out_date" value="{{Results.out_date}}" id="out_date">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="time"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- END - ROW - EDIT FORM -->

    <hr>

    <!-- Footer -->
    <footer>
      <p>Amway.voice - Testing platform</p>
    </footer>
    <!-- END - Footer -->

  </div>
  <!-- END - GRID SYSTEM -->

  <!-- Javascript Includes -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap-transition.js"></script>
  <script src="/assets/js/bootstrap-alert.js"></script>
  <script src="/assets/js/bootstrap-modal.js"></script>
  <script src="/assets/js/bootstrap-dropdown.js"></script>
  <script src="/assets/js/bootstrap-scrollspy.js"></script>
  <script src="/assets/js/bootstrap-tab.js"></script>
  <script src="/assets/js/bootstrap-tooltip.js"></script>
  <script src="/assets/js/bootstrap-popover.js"></script>
  <script src="/assets/js/bootstrap-button.js"></script>
  <script src="/assets/js/bootstrap-collapse.js"></script>
  <script src="/assets/js/bootstrap-carousel.js"></script>
  <script src="/assets/js/bootstrap-typeahead.js"></script>
  <!-- END - Javascript Includes -->

  <!-- JS: Date Insert Function for ADD FORM -->
  <script type="text/javascript">
    (function($) {
      $('#time').on('click', function(event) {
        var time = new Date();
        $('#out_date').val(time.toISOString().substring(0, 10));
      });
    })(jQuery);
  </script>

  <!-- JS: Populate a dropdown menu with correct DB value -->
  <script type="text/javascript">
    (function($) {
      var group = $('input.default_group').val();
      $('option[value="' + group + '"]').attr('selected', 'selected');
    })(jQuery);
  </script>

  <script type="text/javascript">
    (function($) {
      var group = $('input.place').val();
      $('option[value="' + group + '"]').attr('selected', 'selected');
    })(jQuery);
  </script>

  <script type="text/javascript">
    (function($) {
      var group = $('input.status').val();
      $('option[value="' + group + '"]').attr('selected', 'selected');
    })(jQuery);
  </script>


</body>

</html>
