<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS Styles -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Favicon and Touch Icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
</head>

<body>

  <nav class="navbar navbar-default">
    <!--Navigation Bar -->
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-earphone">&nbsp;</span>{{title}}</a>
      </div>
    </div>
  </nav>
  <!-- END - Navigation Bar -->

  <div class="container-fluid"><!-- GRID SYSTEM -->

    <!-- POD-TYPE -->
    <div class="col-md-2">
      <div class="well well-sm">
        <p>
          <h3>Extensions - Locations</h3>
        </p>
        <p>Manage locations.</p>
        <form class="form-inline" method="post" action="/extensions/admin/location/save">
          <div class="form-group">
            <div class="input-group">
              <label class="sr-only" for="extensionsadminlocations">Location</label>
              <input type="text" class="form-control" placeholder="Location" name="extensionsadminlocations">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Submit</button>
              </span>
            </div>
          </div>
        </form>
        <span>&nbsp;</span>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>Location</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each Locations}}
            <tr>
              <td>{{this.extensionsadminlocations}}</td>
              <td>
                <a href="/extensions/admin/location/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Delete this item?')"><i class="glyphicon glyphicon-trash icon-white"></i></a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <!-- END - POD-TYPE -->

  </div>

    <hr>

    <!-- Footer -->
    <footer>
      <p>Amway.voice - Management platform</p>
    </footer>
    <!-- END - Footer -->

  </div>
  <!-- END - GRID SYSTEM -->

  <!-- Javascript Includes -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap-transition.js"></script>
  <script src="/assets/js/bootstrap-alert.js"></script>
  <script src="/assets/js/bootstrap-modal.js"></script>
  <script src="/assets/js/bootstrap-dropdown.js"></script>
  <script src="/assets/js/bootstrap-scrollspy.js"></script>
  <script src="/assets/js/bootstrap-tab.js"></script>
  <script src="/assets/js/bootstrap-tooltip.js"></script>
  <script src="/assets/js/bootstrap-popover.js"></script>
  <script src="/assets/js/bootstrap-button.js"></script>
  <script src="/assets/js/bootstrap-collapse.js"></script>
  <script src="/assets/js/bootstrap-carousel.js"></script>
  <script src="/assets/js/bootstrap-typeahead.js"></script>
  <!-- END - Javascript Includes -->

  <!-- JS: Date Insert Function for ADD FORM -->
  <script type="text/javascript">
    (function($) {
      $('#time').on('click', function(event) {
        var time = new Date();
        $('#out_date').val(time.toISOString().substring(0, 10));
      });
    })(jQuery);
  </script>

  <!-- JS: Populate a dropdown menu with correct DB value -->
  <script type="text/javascript">
    (function($) {
      var group = $('input.default_group').val();
      $('option[value="' + group + '"]').attr('selected', 'selected');
    })(jQuery);
  </script>

  <script type="text/javascript">
    (function($) {
      var group = $('input.place').val();
      $('option[value="' + group + '"]').attr('selected', 'selected');
    })(jQuery);
  </script>

  <script type="text/javascript">
    (function($) {
      var group = $('input.status').val();
      $('option[value="' + group + '"]').attr('selected', 'selected');
    })(jQuery);
  </script>


</body>

</html>
