html
	head
		title #{title}
		// INCLUDE: CSS
		link(rel='stylesheet', href='/assets/css/bootstrap.css')
		link(rel='shortcut icon', href='/assets/ico/favicon.ico')
	body
		// Navigation Bar
		nav.navbar.navbar-default
			.navbar-header
				a.navbar-brand(href='/') #{title}
					//span.glyphicon.glyphicon-earphone &nbsp;
		// END - Navigation Bar

		block content
    .container-fluid
        // GRID SYSTEM
          .row
            // ROW 2 (FULL LENGTH)
            // POD-Extension DB
            a(href='extensions')
              .col-md-3
                .well.well-sm
                  p(align='center')
                  h3 Extension Database
                  p
                  |
                  p(align='center')
                    img(src='/assets/img/database.png', alt='Database')
                  |
                  p(align='center') Database for extension management.
            // END - POD-Extension DB
            // POD-Password DB
            a(href='lms')
              .col-md-3
                .well.well-sm
                  p(align='center')
                  h3 Lifecycle Management
                  p
                  |
                  p(align='center')
                    img(src='/assets/img/key.png', alt='Key')
                  |
                  p(align='center') Database for equipment management.
            // END - POD-Password DB
          // END - ROW 2 (FULL LENGTH)


		// FOOTER
		hr
		block footer
			footer
				p Amway.voice - Management Platform (running on Node.js, Express, MongoDB, and Jade)
				// INCLUDE: JS - At end for better page loads.
				script(src='/assets/js/jquery-1.7.2.min.js')
				script(src='/assets/js/bootstrap-transition.js')
				script(src='/assets/js/bootstrap-transition.js')
				script(src='/assets/js/bootstrap-alert.js')
				script(src='/assets/js/bootstrap-modal.js')
				script(src='/assets/js/bootstrap-dropdown.js')
				script(src='/assets/js/bootstrap-scrollspy.js')
				script(src='/assets/js/bootstrap-tab.js')
				script(src='/assets/js/bootstrap-tooltip.js')
				script(src='/assets/js/bootstrap-popover.js')
				script(src='/assets/js/bootstrap-button.js')
				script(src='/assets/js/bootstrap-collapse.js')
				script(src='/assets/js/bootstrap-carousel.js')
				script(src='/assets/js/bootstrap-typeahead.js')
