<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- INCLUDE: CSS-->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Favicon and Touch Icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">

  <!-- CSS: Show/Hide add Divs-->
  <style>
    div[id^=toggle-add] {
      display: none;
    }
  </style>

  <!-- JS: Show/Hide add Divs -->
  <script type="text/javascript">
    function toggle(id) {
      var state = document.getElementById(id).style.display;
      if (state == 'block') {
        document.getElementById(id).style.display = 'none';
      } else {
        document.getElementById(id).style.display = 'block';
      }
    }
  </script>

</head>

<body>

  <nav class="navbar navbar-default">
    <!--Navigation Bar -->
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-earphone">&nbsp;</span>{{title}}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Logout</a></li>
      </div>
    </div>
  </nav>
  <!-- END - Navigation Bar -->

  <div class="container-fluid">
    <!-- GRID SYSTEM -->
    <div class="row">
      <!-- ROW 2 (FULL LENGTH) -->

      <!-- POD-TYPE -->
      <div class="col-md-2">
        <div class="well well-sm">
          <p>
            <h3>LMS - Types</h3>
          </p>
          <p>Manage equipment types.</p>
          <form class="form-inline" method="post" action="/lms/admin/type/save">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="lmsadmintype">Type</label>
                <input type="text" class="form-control" placeholder="Type" name="lmsadmintype">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">Submit</button>
                </span>
              </div>
            </div>
          </form>
          <span>&nbsp;</span>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each Type}}
              <tr>
                <td>{{this.lmsadmintype}}</td>
                <td>
                  <a href="/lms/admin/type/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Delete this item?')"><i class="glyphicon glyphicon-trash icon-white"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END - POD-TYPE -->

      <!-- POD-ACCESS -->
      <div class="col-md-2">
        <div class="well well-sm">
          <p>
            <h3>LMS - Access</h3>
          </p>
          <p>Manage access types.</p>
          <form class="form-inline" method="post" action="/lms/admin/access/save">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="lmsadminaccess">Access</label>
                <input type="text" class="form-control" placeholder="Access" name="lmsadminaccess">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">Submit</button>
                </span>
              </div>
            </div>
          </form>
          <span>&nbsp;</span>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Access</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each Access}}
              <tr>
                <td>{{this.lmsadminaccess}}</td>
                <td>
                  <a href="/lms/admin/access/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Delete this item?')"><i class="glyphicon glyphicon-trash icon-white"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END - POD-ACCESS -->

      <!-- POD-COUNTRY -->
      <div class="col-md-2">
        <div class="well well-sm">
          <p>
            <h3>LMS - Country</h3>
          </p>
          <p>Manage countries.</p>
          <form class="form-inline" method="post" action="/lms/admin/country/save">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="lmsadmincountry">Country</label>
                <input type="text" class="form-control" placeholder="Country" name="lmsadmincountry">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">Submit</button>
                </span>
              </div>
            </div>
          </form>
          <span>&nbsp;</span>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Country</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each Country}}
              <tr>
                <td>{{this.lmsadmincountry}}</td>
                <td>
                  <a href="/lms/admin/country/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Delete this item?')"><i class="glyphicon glyphicon-trash icon-white"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END - POD-COUNTRY -->

      <!-- POD-CONTRACT -->
      <div class="col-md-2">
        <div class="well well-sm">
          <p>
            <h3>LMS - Contract</h3>
          </p>
          <p>Manage contracts.</p>
          <form class="form-inline" method="post" action="/lms/admin/contract/save">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="lmsadmincontract">Contract</label>
                <input type="text" class="form-control" placeholder="Contract" name="lmsadmincontract">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">Submit</button>
                </span>
              </div>
            </div>
          </form>
          <span>&nbsp;</span>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>LDAP</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each Contract}}
              <tr>
                <td>{{this.lmsadmincontract}}</td>
                <td>
                  <a href="/lms/admin/contract/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Delete this item?')"><i class="glyphicon glyphicon-trash icon-white"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END - POD-CONTRACT -->

      <!-- POD-SITES -->
      <div class="col-md-2">
        <div class="well well-sm">
          <p>
            <h3>LMS - Sites</h3>
          </p>
          <p>Manage Sites.</p>
          <form class="form-inline" method="post" action="/lms/admin/sites/save">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="lmsadminsites">UCS Chassis</label>
                <input type="text" class="form-control" placeholder="Contract" name="lmsadminsites">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">Submit</button>
                </span>
              </div>
            </div>
          </form>
          <span>&nbsp;</span>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Site</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each Sites}}
              <tr>
                <td>{{this.lmsadminsites}}</td>
                <td>
                  <a href="/lms/admin/sites/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Delete this item?')"><i class="glyphicon glyphicon-trash icon-white"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END - POD-SITES -->

      <!-- POD-VSPHERE -->
      <div class="col-md-2">
        <div class="well well-sm">
          <p>
            <h3>LMS - vSphere</h3>
          </p>
          <p>Manage vSphere.</p>
          <form class="form-inline" method="post" action="/lms/admin/vsphere/save">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="lmsadminvsphere">vSphere</label>
                <input type="text" class="form-control" placeholder="vSphere" name="lmsadminvsphere">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">Submit</button>
                </span>
              </div>
            </div>
          </form>
          <span>&nbsp;</span>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>vShpere</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each Vsphere}}
              <tr>
                <td>{{this.lmsadminvsphere}}</td>
                <td>
                  <a href="/lms/admin/vsphere/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Delete this item?')"><i class="glyphicon glyphicon-trash icon-white"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END - POD-VSPHERE -->

      <!-- POD-ELM -->
      <div class="col-md-2">
        <div class="well well-sm">
          <p>
            <h3>LMS - ELM</h3>
          </p>
          <p>Manage ELM.</p>
          <form class="form-inline" method="post" action="/lms/admin/elm/save">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="lmsadminelm">vSphere</label>
                <input type="text" class="form-control" placeholder="ELM" name="lmsadminelm">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">Submit</button>
                </span>
              </div>
            </div>
          </form>
          <span>&nbsp;</span>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>ELM</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each Elm}}
              <tr>
                <td>{{this.lmsadminelm}}</td>
                <td>
                  <a href="/lms/admin/elm/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Delete this item?')"><i class="glyphicon glyphicon-trash icon-white"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END - POD-ELM -->


    </div>
  </div>







  <hr>

  <div class="container-fluid">

    <!-- Footer -->
    <footer>
      <p>Amway.voice - Management Platform</p>
    </footer>
    <!-- END - Footer -->

  </div>
  <!-- END - GRID SYSTEM -->

  <!-- INCLUDE: JS -->
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap-alert.js"></script>
  <script src="/assets/js/bootstrap-button.js"></script>

  <!-- JS: Date Insert Function for ADD FORM -->
  <script type="text/javascript">
    (function($) {
      $('#time').on('click', function(event) {
        var time = new Date();
        $('#out_date').val(time.toDateString());
      });

    })(jQuery);
  </script>

</body>

</html>
