<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS Styles -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">

  <!-- CSS: Custom table NOWRAP -->
  <style>
    table,
    th,
    td {
      white-space: nowrap;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-default">
    <!--Navigation Bar -->
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-earphone">&nbsp;</span>{{title}}</a>
      </div>
    </div>
  </nav>
  <!-- END - Navigation Bar -->

  <div class="container-fluid">
    <!-- GRID SYSTEM -->

    <div class="row">
      <!-- ROW - SEARCH -->
      <div class="col-lg-4 col-md-offset-4">
        <form class="form-inline" method="post" action="/extensions/search" id="extension-find">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button" onclick="toggle('toggle-show');">Search</button>
              </span>
              <input type="text" class="form-control" placeholder="Extension or Name..." name="search">
            </div>
            <!-- /input-group -->
          </div>
        </form>
      </div>
    </div>
    <!-- END ROW - SEARCH-->
    <p>&nbsp;</p>

    <div class="row">
      <!-- ROW - FILTERS -->
      <div class="col-md-10 col-md-offset-1">
        <a href="#" onclick="toggle('toggle-add-extension');" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i>Add</a>
        <a href="/extensions/filter/USNS41" class="btn btn-info"><i class="glyphicon glyphicon-filter"></i>USNS41</a>
        <a href="/extensions/filter/USBP02" class="btn btn-info"><i class="glyphicon glyphicon-filter"></i>USBP02</a>
        <a href="/extensions/filter/BRCM01" class="btn btn-info"><i class="glyphicon glyphicon-filter"></i>BRCM01</a>
        <a href="/extensions/filter/CACM01-PUB" class="btn btn-info"><i class="glyphicon glyphicon-filter"></i>CACM01-PUB</a>
        <a href="/extensions/filter/CONS01" class="btn btn-info"><i class="glyphicon glyphicon-filter"></i>CONS01</a>
        <a href="/extensions/filter/CRNS01" class="btn btn-info"><i class="glyphicon glyphicon-filter"></i>CRNS01</a>
        <a href="/extensions/filter/MXCM01" class="btn btn-info"><i class="glyphicon glyphicon-filter"></i>MXCM01</a>
        <a href="/extensions/show" class="btn btn-info"><i class="glyphicon glyphicon-filter"></i>All</a>
        <a href="/extensions/filter/open" class="btn btn-warning"><i class="glyphicon glyphicon-asterisk"></i>Magic Button (ADA)</a>
      </div>
    </div>
    <!-- END ROW - FILTERS -->
    <p>&nbsp;</p>

    <div class="row">
      <!-- ROW - SHOW TABLE -->
      <div class="col-md-12">
        <div id="toggle-show">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th colspan="8">General</th>
                <th colspan="4">Versioning</th>
                <th colspan="9">Access</th>
                <th colspan="6">Voice</th>
                <th colspan="3">Virtualization</th>
                <th colspan="2">Physical</th>
              </tr>
              <tr>
                <th>IP</th>
                <th>Hostname</th>
                <th>Country</th>
                <th>Site</th>
                <th>Type</th>
                <th>Description</th>
                <th>Cisco Contract</th>
                <th>Action</th>
                <th>General</th>
                <th>CME IOS</th>
                <th>CIMC</th>
                <th>Windows</th>
                <th>Access</th>
                <th>SSL Renewal Date</th>
                <th>LDAP</th>
                <th>IOS Username</th>
                <th>IOS Password</th>
                <th>UCS Username</th>
                <th>UCS Password</th>
                <th>Application Username</th>
                <th>Application Password</th>
                <th>Application Username</th>
                <th>Application Password</th>
                <th>Platform Username</th>
                <th>Platform Password</th>
                <th>Database</th>
                <th>ELM/PLM</th>
                <th>Virtualized</th>
                <th>vSphere Manager</th>
                <th>ESX License</th>
                <th>Type</th>
                <th>Serial</th>
              </tr>
            </thead>
            <tbody>
              {{#each results}}
              <tr>
                <td>{{this.lmsip}}</td>
                <td>{{this.lmshostname}}</td>
                <td>{{this.lmscountry}}</td>
                <td>{{this.lmssite}}</td>
                <td>{{this.lmstype}}</td>
                <td>{{this.lmsdescription}}</td>
                <td>{{this.lmsciscocontract}}</td>
                <td>
                  <a href="/lms/edit/{{this._id}}" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                  <a href="/lms/delete/{{this._id}}" class="btn btn-danger btn-xs" onclick="return confirm('Delete this item?')"><i class="glyphicon glyphicon-trash icon-white"></i> Delete</a>
                </td>
                <td>{{this.lmsversiongeneral}}</td>
                <td>{{this.lmsversioncmeios}}</td>
                <td>{{this.lmsversioncimc}}</td>
                <td>{{this.lmsversionwindows}}</td>
                <td>{{this.lmsaccess}}</td>
                <td>{{this.lmssslrenewaldate}}</td>
                <td>{{this.lmsldap}}</td>
                <td>{{this.lmsiosusername}}</td>
                <td>{{this.lmsiospassword}}</td>
                <td>{{this.lmsucsusername}}</td>
                <td>{{this.lmsucspassword}}</td>
                <td>{{this.lmsappusername}}</td>
                <td>{{this.lmsapppassword}}</td>
                <td>{{this.lmsvoiceappusername}}</td>
                <td>{{this.lmsvoiceapppassword}}</td>
                <td>{{this.lmsvoiceplatusername}}</td>
                <td>{{this.lmsvoiceplatpassword}}</td>
                <td>{{this.lmsvoicedatabase}}</td>
                <td>{{this.lmselm}}</td>
                <td>{{this.lmsvirtualized}}</td>
                <td>{{this.lmsvsphere}}</td>
                <td>{{this.lmsesxlicense}}</td>
                <td>{{this.lmshardwaretype}}</td>
                <td>{{this.lmshardwareserial}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr>

    <footer>
      <!-- Footer -->
      <p>Amway.voice - Management Platform</p>
    </footer>
    <!-- END - Footer -->

  </div>
  <!-- END - GRID SYSTEM -->

  <!-- Javascript Includes -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap-transition.js"></script>
  <script src="/assets/js/bootstrap-alert.js"></script>
  <script src="/assets/js/bootstrap-modal.js"></script>
  <script src="/assets/js/bootstrap-dropdown.js"></script>
  <script src="/assets/js/bootstrap-scrollspy.js"></script>
  <script src="/assets/js/bootstrap-tab.js"></script>
  <script src="/assets/js/bootstrap-tooltip.js"></script>
  <script src="/assets/js/bootstrap-popover.js"></script>
  <script src="/assets/js/bootstrap-button.js"></script>
  <script src="/assets/js/bootstrap-collapse.js"></script>
  <script src="/assets/js/bootstrap-carousel.js"></script>
  <script src="/assets/js/bootstrap-typeahead.js"></script>
  <!-- END - Javascript Includes -->

  <!-- JS: Date Insert Function for ADD FORM -->
  <script type="text/javascript">
    (function($) {
      $('#time').on('click', function(event) {
        var time = new Date();
        $('#out_date').val(time.toISOString().substring(0, 10));
      });

    })(jQuery);
  </script>


</body>

</html>
