<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- INCLUDE: CSS-->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Favicon and Touch Icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">

  <!-- JS: Show/Hide add Divs -->
  <script type="text/javascript">
    function toggle(id) {
      var state = document.getElementById(id).style.display;
      if (state == 'block') {
        document.getElementById(id).style.display = 'none';
      } else {
        document.getElementById(id).style.display = 'block';
      }
    }
  </script>

</head>

<body>

  <nav class="navbar navbar-default">
    <!--Navigation Bar -->
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-earphone">&nbsp;</span>{{title}}</a>
      </div>
    </div>
  </nav>
  <!-- END - Navigation Bar -->

  <div class="container-fluid">
    <!-- GRID SYSTEM -->

    <div class="row">
      <!-- ROW - ADD FORM -->
      <div class="col-lg-4 col-md-offset-4">
        <form class="form-horizontal" method="post" action="/lms/save" id="lms-add">
          <div class="form-group">
            <label for="ip" class="col-sm-2 control-label">IP</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="IP" name="ip">
            </div>
          </div>
          <div class="form-group">
            <label for "hostname" class="col-sm-2 control-label">Hostname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Hostname" name="hostname">
            </div>
          </div>
          <div class="form-group">
            <label for="country" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Country" name="country">
            </div>
          </div>
          <div class="form-group">
            <label for="site" class="col-sm-2 control-label">Site</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Site" name="site">
          </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Type" name="type">
          </div>
          </div>
          <div class="form-group">
            <label for="version" class="col-sm-2 control-label">Version</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Version" name="version">
            <div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Description" name="description">
          </div>
          </div>
          <div class="form-group">
            <label for="access" class="col-sm-2 control-label">Access</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Access" name="access">
          </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="place">Location</label>
            <select name="place" form="extension-add" class="form-control">
              <option value="AD">AD</option>
              <option value="BP">BP</option>
              <option value="BR">BR</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CR">CR</option>
              <option value="MX">MX</option>
            </select>
          </div>
          <div class="form-group">
            <label class="sr-only" for="phone_number_jabber">Phone Number - Jabber</label>
            <input type="text" class="form-control" placeholder="+[DID] or **[site code][ext]" name="phone_number_jabber">
          </div>
          <div class="form-group">
            <label for="did">DID</label>
            <select name="did" form="extension-add" class="form-control">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <!-- END - ROW - ADD FORM -->

  <hr>

  <div class="container-fluid">

    <!-- Footer -->
    <footer>
      <p>Amway.voice - Management Platform</p>
    </footer>
    <!-- END - Footer -->

  </div>
  <!-- END - GRID SYSTEM -->

  <!-- INCLUDE: JS -->
  <script src="/assets/js/jquery-1.7.2.min.js"></script>
  <script src="/assets/js/bootstrap-transition.js"></script>
  <script src="/assets/js/bootstrap-alert.js"></script>
  <script src="/assets/js/bootstrap-modal.js"></script>
  <script src="/assets/js/bootstrap-dropdown.js"></script>
  <script src="/assets/js/bootstrap-scrollspy.js"></script>
  <script src="/assets/js/bootstrap-tab.js"></script>
  <script src="/assets/js/bootstrap-tooltip.js"></script>
  <script src="/assets/js/bootstrap-popover.js"></script>
  <script src="/assets/js/bootstrap-button.js"></script>
  <script src="/assets/js/bootstrap-collapse.js"></script>
  <script src="/assets/js/bootstrap-carousel.js"></script>
  <script src="/assets/js/bootstrap-typeahead.js"></script>
  <!-- <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet"> -->

  <!-- JS: Date Insert Function for ADD FORM -->
  <script type="text/javascript">
    (function($) {
      $('#time').on('click', function(event) {
        var time = new Date();
        $('#out_date').val(time.toDateString());
      });

    })(jQuery);
  </script>

</body>

</html>
