<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS Styles -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">

  <!-- Favicon and Touch Icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">

</head>

<body>

  <!--Navigation Bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-earphone">&nbsp;</span>{{title}}</a>
      </div>
    </div>
  </nav>
  <!-- END - Navigation Bar -->

  <div class="container-fluid">
    <!-- GRID SYSTEM -->

    <div class="row">
      <!-- ROW 2 (FULL LENGTH) -->

      <!-- POD-Extension DB -->
      <a href="extensions">
        <div class="col-md-3">
          <div class="well well-sm">
            <h3 align="center">Extension Database</h3>
            <p align="center">
              <img src="/assets/img/database.png" alt="Database">
            </p>
            <p align="center">Database for extension management.</p>
          </div>
        </div>
      </a>
      <!-- END - POD-Extension DB -->

      <!-- POD-Password DB -->
      <a href="lms">
        <div class="col-md-3">
          <div class="well well-sm">
            <h3 align="center">Lifecycle Management</h3>
            <p align="center">
              <img src="/assets/img/key.png" alt="Key">
            </p>
            <p align="center">Database for equipment management.</p>
          </div>
        </div>
      </a>
      <!-- END - POD-Password DB -->


    </div>
    <!-- END - ROW 2 (FULL LENGTH) -->
  </div>
  <!-- END - GRID SYSTEM -->

  <hr>

  <div class="container-fluid">

    <!-- Footer -->
    <footer>
      <p>Amway.voice - Management Platform</p>
    </footer>
    <!-- END - Footer -->

  </div>
  <!-- END - GRID SYSTEM -->

  <!-- Javascript Includes -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap-transition.js"></script>
  <script src="/assets/js/bootstrap-alert.js"></script>
  <script src="/assets/js/bootstrap-modal.js"></script>
  <script src="/assets/js/bootstrap-dropdown.js"></script>
  <script src="/assets/js/bootstrap-scrollspy.js"></script>
  <script src="/assets/js/bootstrap-tab.js"></script>
  <script src="/assets/js/bootstrap-tooltip.js"></script>
  <script src="/assets/js/bootstrap-popover.js"></script>
  <script src="/assets/js/bootstrap-button.js"></script>
  <script src="/assets/js/bootstrap-collapse.js"></script>
  <script src="/assets/js/bootstrap-carousel.js"></script>
  <script src="/assets/js/bootstrap-typeahead.js"></script>
  <!-- END - Javascript Includes -->

</body>

</html>
