<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet"> -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicon and Touch Icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <!-- CSS: Show/Hide add Divs-->
    <style>
    div[id^=toggle-add] {
      display:none;
    }
    </style>

    <!-- JS: Show/Hide add Divs -->
    <script language="JavaScript" type="text/javascript">
    function toggle(id) {
      var state = document.getElementById(id).style.display;
      if (state == 'block') {
        document.getElementById(id).style.display = 'none';
      } else {
        document.getElementById(id).style.display = 'block';
      }
    }
    </script>

    <!-- Javascript Includes -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>
    <!-- END - Javascript Includes -->

  </head>

  <body>

    <nav class="navbar navbar-default"><!--Navigation Bar -->
        <div class="container-fluid"> <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-earphone">&nbsp;</span>{{title}}</a>
        </div>
      </div>
    </nav><!-- END - Navigation Bar -->

    <div class="container-fluid"> <!-- GRID SYSTEM -->
      <div class="row"> <!-- ROW 2 (FULL LENGTH) -->

      <!-- POD-TYPE -->
        <div class="col-md-3">
          <div class="well well-sm">
            <p align="center"><h3>LMS Data Types</h3></p>
            <p align="center">Manage the data types for the LMS.</p>
            <form class="form-inline" method="post" action="/lms-admin-type/save">
              <div class="form-group">
                <label class="sr-only" for="lmsadmintype">Type</label>
                <input type="text" class="form-control" placeholder="Type" name="lmsadmintype">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <span>&nbsp;</span>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    <tr>
                        <td>{{this.lmsadmintype}}</td>
                        <td>
                            <a href="/extensions/edit/{{this._id}}" class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                            <a href="/extensions/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Delete this item?')"><i class="glyphicon glyphicon-trash icon-white"></i> Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            </div>
          </div>
      <!-- END - POD-TYPE -->

    </div>
  </div>







          <hr>

          <footer> <!-- Footer -->
            <p>Amway.voice - Testing platform</p>
          </footer> <!-- END - Footer -->

        </div> <!-- END - GRID SYSTEM -->

      </body>
    </html>
