<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet"> -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicon and Touch Icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <!-- CSS: Show/Hide add Divs-->
    <style>
    div[id^=toggle-add] {
      display:none;
    }
    </style>

    <!-- JS: Show/Hide add Divs -->
    <script language="JavaScript" type="text/javascript">
    function toggle(id) {
      var state = document.getElementById(id).style.display;
      if (state == 'block') {
        document.getElementById(id).style.display = 'none';
      } else {
        document.getElementById(id).style.display = 'block';
      }
    }
    </script>

    <!-- Javascript Includes -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>
    <!-- END - Javascript Includes -->

  </head>

  <body>

    <nav class="navbar navbar-default"><!--Navigation Bar -->
        <div class="container-fluid"> <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-earphone">&nbsp;</span>{{title}}</a>
        </div>
      </div>
    </nav><!-- END - Navigation Bar -->

    <div class="container-fluid"> <!-- GRID SYSTEM -->

      <div class="row"> <!-- ROW - ADD FORM -->
        <div class="col-lg-4 col-md-offset-4">
              <form class="form-horizontal" method="post" action="/lms/save" id="lms-add">
                <div class="form-group">
                  <label for="ip">IP</label>
                  <input type="text" class="form-control" placeholder="IP" name="ip">
                </div>
                <div class="form-group">
                  <label for"hostname">Hostname</label>
                  <input type="text" class="form-control" placeholder="Hostname" name="hostname">
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                  <select name="country" form="lms-add" class="form-control">
                    {{#each Country}}
                    <option value="{{this.lmsadmincountry}}">{{this.lmsadmincountry}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group">
                  <label for="site">Site</label>
                  <input type="text" class="form-control" placeholder="Site" name="site">
                </div>
                <div class="form-group">
                  <label for="type">Type</label>
                  <select name="type" form="lms-add" class="form-control">
                    {{#each Type}}
                    <option value="{{this.lmsadmintype}}">{{this.lmsadmintype}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group">
                  <label for="version">Version</label>
                  <input type="text" class="form-control" placeholder="Version" name="version">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" placeholder="Description" name="description">
                </div>
                <div class="form-group">
                  <label for="access">Access</label>
                  <select name="access" form="lms-add" class="form-control">
                    {{#each Access}}
                    <option value="{{this.lmsadminaccess}}">{{this.lmsadminaccess}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="phone_number_jabber">Phone Number - Jabber</label>
                  <input type="text" class="form-control" placeholder="+[DID] or **[site code][ext]" name="phone_number_jabber">
                </div>
                <div class="form-group">
                  <label for="did">LDAP Integrated</label>
                  <select name="did" form="lms-add" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
          </div>
        </div> <!-- END - ROW - ADD FORM -->
        <span>&nbsp;</span>

          <hr>

          <footer> <!-- Footer -->
            <p>Amway.voice - Testing platform</p>
          </footer> <!-- END - Footer -->

        </div> <!-- END - GRID SYSTEM -->

      </body>
    </html>
